body {
    width: 300px;
}

.wrap {
    width: 600px;
    height: 10px;
}

.stuffCenter {
	justify-content: center;
    display: flex;
}

.centerText {
    text-align: center;
}

.titlePadding {
    padding: 0px;
}

.centerize {
    text-align: center;
}